# HTTP
HTTP_ADDR=:8080

# Postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/booking_db?sslmode=disable

# Уровень логирования
LOG_LEVEL=info

# Платежка
PAYMENT_BASE_URL=http://localhost:8080
PAYMENT_TIMEOUT=2s
PAYMENT_RETRIES=3